@import "../../utils/variables.scss";

.navbar {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;

  &.sticky_nav {
    background: $primary_bg_5;
    // opacity: 0.5;
    backdrop-filter: blur(20px);
  }

  .flex {
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 30px;
      font-weight: 700;
    }

    .items {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;

      li {
        a {
          font-size: 17px;
          font-weight: 600;
          cursor: pointer;
          text-decoration: none;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $secondary_color;
          }

          .button {
            padding: 10px 40px;
          }
        }
      }
      .darkModeIcon {
        cursor: pointer;
      }

      .menu {
        font-size: 23px;
        display: none;

        &:active {
          color: rgb(138, 70, 255);
        }
      }
    }
  }
}
.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.148);
  z-index: 11111;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-in-out;

  .items {
    padding: 100px 50px 30px 50px;
    max-width: 400px;
    width: 100%;
    color: $white;
    height: 100%;
    background: rgb(52, 51, 77);
    position: relative;
    transform: translateX(100%);
    transition: 1s ease;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .close {
      top: 20px;
      left: 20px;
      position: absolute;
      transform: rotate(-90deg);
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        color: $secondary_color;
        i {
          background: #fff;
          border-radius: 50%;
        }

        scale: 1.2;
      }
      &:active {
        color: rgb(138, 70, 255);
      }
    }

    .logo {
      position: absolute;
      right: 65px;
      top: 20px;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;

      li {
        font-weight: 400;
        font-size: 18px;
        transition: 0.3s ease-in-out;
        position: relative;
        text-transform: capitalize;
        width: 100%;
        text-align: right;
        padding: 8px 15px;
        cursor: pointer;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: $secondary_color;
          right: 0;
          top: 0;
          position: absolute;
          z-index: -1;
          transition: 0.3s ease;
        }

        &:hover {
          // color: $deep_gray;

          &:before {
            width: 100%;
          }
        }
      }

      .button {
        margin-top: 20px;
        padding: 10px 50px;
      }
    }

    .social {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          padding: 0;
        }
      }
    }
  }
}
