$primary_bg: #ffe0e0;
$primary_bg_dark: linear-gradient(
  to right top,
  #051937,
  #001a46,
  #001954,
  #001761,
  #00126d
);
$primary_bg_5: rgba(255, 224, 224, 0.5);
$secondary_color: #ff5b2e;
$light_primary: #f7f7f7;
$light_indigo: #eee0f7;
$light_golden: #fff2e2;
$deep_gray: #30303c;
$white: #fff;
$small: 16px;
$normal: 18px;
$medium: 20px;
$large: 35px;
$extra_large: 45px;
$Roboto: "Roboto", sans-serif;
$Poppins: "Poppins", sans-serif;
